div .Contenu {
    background-color: #efb441;
}

div .Infos {
    background-color: lightskyblue;
    height: 10%;
}

div .Top {
    background-color: #efb441;
}

div .Topanime {
    background-color: #efb441;
    height: 10%;
}

div .Carousel {
    background-color: #efb441;
    height: 18rem;
}

div .News {
    background-color: #fbebcd;
    height: 6rem;
    border-top: 0.25rem solid white;
}

.Icones {
    height: 5rem;
    padding-top: 0.5rem;
}

.Iconestop {
    height: 5rem;
    padding-top: 0.5rem;
}

.h2bloc {
    background-color: #efb441;
    border-top: 0.25rem solid white;
    border-bottom: 0.25rem solid white;
}

.h2text {
    font-size: 1.25rem;
    font-weight: bold;
    color: #424242;
    text-align: center;
    padding-top: 0.5rem;
}

.homefooter {
    background-color: #efb441;
    border-bottom: 0.25rem solid white;
    height: 5rem;
}

.homefootertext {
    font-size: 1rem;
    font-weight: bold;
    color: #424242;
    text-align: center;
    padding-top: 1.75rem;
}

body {
    font-family: Oswald;
    background-image: url("fond.png");
    background-size: 75rem;
    background-attachment: fixed;
    color: #424242;

.topnumero {
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.topnumero10 {
    padding-top: 0.75rem;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.sondage {
    padding-top: 0.75rem;
    text-align: center;
    height: 20rem;
}

.carouseltext {
    color: #424242;
    font-weight: bold;
    text-shadow: 0rem 0rem 0.5rem white;
}


