div .Contenu {
    background-color: #efb441;
}

/*.col-12 {
    background-color: #efb441;
    box-shadow: 0 0px 1rem 0.5rem white;
}*/

div .Infos {
    background-color: lightskyblue;
    height: 10%;
}

div .Top {
    background-color: #efb441;
}

div .Topanime {
    background-color: #efb441;
    height: 10%;
}

div .Carousel0 {
    background-color: white;
    height: 18rem;
    /*margin-top: 6rem;*/
    /*box-shadow: 0 0px 12px 3px #424242;*/
}

div .News {
    /*background-color: #fbebcd;*/
    background-color: white;
    height: 6rem;
    /*border-top: 0.25rem solid white;*/
}

div .anime1 {
    background-color: #fbebcd;
    height: 60rem;
    border-top: 0.25rem solid white;
}

div .anime2 {
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

div .anime3 {
    padding-left: 0.5rem;
    color: #222222;
}

div .anime3-1 {
    color: #222222;
}

.noPadding{
    padding: 0px;
}

.Icones {
    height: 5rem;
    padding-top: 0.5rem;
}

.miniatureanime {
    height: 25rem;
    padding-top: 0.5rem;
}

.Iconestop {
    height: 5rem;
    padding-top: 0.5rem;
}

.h2bloc {
    background-color: #efb441;
    /*border-top: 0.25rem solid white;*/
    justify-content:center;
}

.h2text {
    font-size: 1.25rem;
    font-weight: bold;
    color: #424242;
    padding-top: 1rem;
    text-align: center;
    height: 3rem;
    shadow: 0 0px 1rem 0.5rem white;
}

.homefooter {
    background-color: #efb441;
    border-bottom: 0.25rem solid white;
    height: 5rem;
}

.homefootertext {
    font-size: 1rem;
    font-weight: bold;
    color: #424242;
    text-align: center;
    padding-top: 1.75rem;
}

body {
    font-family: "Montserrat SemiBold";
    font-size: 75%;
    /*background-image: url("fond.png");
    background-size: 75rem;
    background-attachment: fixed;//*/
    color: #424242;
}

.topnumero {
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.topnumero10 {
    padding-top: 0.75rem;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.sondage {
    padding-top: 0.75rem;
    text-align: center;
    height: 20rem;
}

.carouseltext {
    color: #424242;
    font-weight: bold;
    text-shadow: 0rem 0rem 0.5rem white;
}

/*.bg-dark {
    background-color: #efb441!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #424242;
}

.navbar-dark .navbar-brand {
    color: #424242;
    font-family: Lobster;
    font-size: 2rem;
}

.navbar {
    height: 6rem;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 18rem;
    margin-bottom: 0;
    list-style: none;
    position: fixed;
    z-index: 1;*/

.carousel {
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

img {
    width: 100%;
    border-radius: 0.5rem;
}

.title-small {
    background-color: #efb441;
    height: 3rem;
    font-size: 150%;
    padding-top: 0.75rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right : 0rem;
    border-radius: 0.5rem;
    /*box-shadow: 0 0rem 0.5rem #424242;*/
}

.title-small-first {
    background-color: #efb441;
    height: 3rem;
    font-size: 150%;
    padding-top: 0.75rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right : 0rem;
    border-radius: 0.5rem;
        /*box-shadow: 0 0rem 0.5rem #424242;*/
}

.navbar {
    position: fixed;
    z-index: 2;
    height: 6rem;
    width: 100%;
    background-color: #efb441!important;
    box-shadow: 0 0rem 2.5rem white;

}

.navbar-dark .navbar-nav .nav-link {
    color: #424242;
    font-size: 0.75rem;
}

.navbar-dark .navbar-brand {
    color: #424242;
    font-size: 1.5rem;
}

.title-background {
    background-image: url("title_background.png");
    background-size: 100%;
    z-index: 1;

}