{% extends "@App/layout.html.twig" %}
{% block body %}
    <div class="container" style="margin-top: 120px;">
        {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" class="btn btn-default"/>
        {{ form_end(form) }}
    </div>
{% endblock %}