{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="container-fluid" style="height: 100%; padding: 0px;">
        <img class="img-fluid" style="width: 100%" src="{{ asset('images/cuuu.jpg') }}"/>

    </div>
{% endblock %}