{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="container-fluid" style="height: 100%; padding: 0px;">
        <!--<img class="img-fluid" style="width: 100%" src="{{ asset('images/cuuu.jpg') }}"/>-->
        <div class="row">
            <div class="col-sm-81">col-sm-8</div>
            <div class="col-sm-4">col-sm-4</div>
        </div>
        <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
        </div>
    </div>
{% endblock %}